<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boxbox.blacktranswa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6820575160965343~2413621213"/>
        <activity android:name=".mulai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boxbox.blacktranswa.MainActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.boxbox.blacktranswa.instruksi"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android.ImePreferences"
            android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/manage_dictionaries">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about">
        </activity>
        <activity
            android:name=".ThemeActivity"
            android:label="@string/choose_theme_title" />

        <service
            android:name=".android.SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>


        <!-- StartApp activities integration -->



        <!-- End of StartApp activities integration -->

    </application>

</manifest>